<!DOCTYPE html>
<html lang="en">
	<head>
        <%- include(`${root}/views/partials/head`, { title: 'Shopping Lists - Dashboard' }) %>
	</head>
	<body class="flex justify-center p-8 bg-gray-50">
		<div class="max-w-4xl w-full p-8">
			<%- include(`${root}/views/partials/navbar`) %>
        </div>
        <div class="rounded-lg shadow p-4 flex flex-col max-w-md  space-y-8">
            <%- include(`${root}/views/partials/shoppingList`) %>
		</div>
	</body>
</html>
